Repository YunoHost/yunohost, pull requests merged in 2018-04, with the labels that each got.

#446 Fix n usage
  data/helpers.d/nodejs
Labels: helper

#381 Trigger error if app dependency install fails (Redmine 1006) + allow for 'or' in dependencies
  data/helpers.d/package
Labels: helper, opinion needed, small decision

#448 [enh] Enable HTTP2 protocol in nginx conf
  data/templates/nginx/plain/yunohost_admin.conf
  data/templates/nginx/server.tpl.conf
Labels: opinion needed, small decision
