Repository YunoHost/yunohost, pull requests merged in 2020-05, with the labels that each got.

#939 Make nodejs helpers easier to use
  data/helpers.d/nodejs
Labels: app helpers

#970 [Epic Fix] ynh_install_app_dependencies
  data/helpers.d/apt
Labels: app helpers, merging soon™, micro decision

#972 Add a timeout to wget in helpers
  data/helpers.d/apt
  data/helpers.d/utils
Labels: app helpers

#961 [enh] Real CSP headers for the webadmin
  data/templates/nginx/plain/yunohost_admin.conf.inc
  data/templates/nginx/security.conf.inc
  data/templates/nginx/yunohost_admin.conf
Labels: small decision

#994 Ugly hack to workaround sury pinning issues when installing dependencies
  data/helpers.d/apt
Labels: app helpers, important

#991 [enh] CI V2
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/doc.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  pytest.ini
  src/yunohost/tests/conftest.py
  src/yunohost/tests/test_apps.py
  src/yunohost/tests/test_appurl.py
  src/yunohost/tests/test_backuprestore.py
  src/yunohost/tests/test_changeurl.py
  src/yunohost/tests/test_permission.py
  tox.ini
Labels: depends on other PR, reviews needed, small decision
