Repository YunoHost/yunohost, pull requests merged in 2025-03, with the labels that each got.

#2017 Shellcheck : Fix hooks/
  .github/workflows/shellcheck.yml
  hooks/backup/05-conf_ldap
  hooks/backup/17-data_home
  hooks/backup/18-data_multimedia
  hooks/backup/20-conf_ynh_settings
  hooks/backup/21-conf_ynh_certs
  hooks/backup/23-data_mail
  hooks/backup/50-conf_manually_modified_files
  hooks/conf_regen/01-yunohost
  hooks/conf_regen/02-ssl
  hooks/conf_regen/03-ssh
  hooks/conf_regen/06-slapd
  hooks/conf_regen/09-nslcd
  hooks/conf_regen/10-apt
  hooks/conf_regen/15-nginx
  hooks/conf_regen/19-postfix
  hooks/conf_regen/25-dovecot
  hooks/conf_regen/30-opendkim
  hooks/conf_regen/34-mysql
  hooks/conf_regen/35-postgresql
  hooks/conf_regen/37-mdns
  hooks/conf_regen/40-nftables
  hooks/conf_regen/43-dnsmasq
  hooks/conf_regen/46-nsswitch
  hooks/conf_regen/52-fail2ban
  hooks/post_user_create/ynh_multimedia
  hooks/restore/05-conf_ldap
  hooks/restore/17-data_home
  hooks/restore/18-data_multimedia
  hooks/restore/20-conf_ynh_settings
  hooks/restore/21-conf_ynh_certs
  hooks/restore/23-data_mail
  hooks/restore/50-conf_manually_modified_files
Labels: small work needed

#2066 [fix] FDN dns resolver are not available for all AS
  conf/dnsmasq/plain/resolv.dnsmasq.conf
Labels: micro

#2042 Helpers / app resources: simplify helpers and implement new resources for nodejs/ruby/go/composer
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/ruby
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/ruby
  helpers/helpers.v2.1.d/utils
  src/tests/test_app_resources.py
  src/utils/resources.py
  tests/test_helpers.sh
  tests/test_helpers.v2.1.d/ynhtest_nodejs_ruby_go_composer.sh
Labels: app helpers, 🚧 refactoring
